.navbar{
    background-color: #faf7ce !important;
    color: black;
}
.body{
	background-color: #f77ea4;
}
.jumbotron{
    background-color: #faf7ce;
    
}
.jumbotron{
    text-align: center;
}
.btn{
    background: #94445c;
    border: none;
    color: white;
	cursor: pointer;
}
.container{
    background-color: #f77ea4;
}
.imagediv img{
    
    
    width: 50vh;
    height: 50vh;
}
.explore-btn{
    margin-bottom: 10px;
}
#products {
	padding-top: 60px;
}

#products-spinner {
	margin: 50px auto;
}

.card.product {
	margin: 10px 0;
}

.card.product .card-img-top {
	height: 200px;
}

.card.product .btn-outer {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.card.product .btn-outer .buy-btn {
	flex: 1;
	margin: 0 0 0 5px;
}

.card.product .btn-outer .add-to-cart-btn{
	flex: 1;
}

.card.product .product-header {
	display: flex;
	justify-content: space-between;
	height: 39px;
}

.fa-star.checked {
  color: orange;
}

.card-title.product-price {
	color: green;
	margin-left: 4px;
}

.card-text {
	height: 72px;
}

.rating-count {
	margin-left: 5px;
}
.sign-up-container{
    background-color: #faf7ce;
    border: 2px solid black;
    padding: 20px;
    margin-top: 5rem;
    
   
}
.log-in-container{
	background-color: #faf7ce;
    border: 2px solid black;
    padding: 20px;
    margin-top: 5rem;

}
#notification-alert{
	display: none;
}
#loginValid{
	display: none;
}
#loginInvalid{
	display: none;
}
#about{
	text-align: center;
	padding: 5rem;
	margin-top: 30px;

}
#contactus{
	padding: 3rem;
	text-align: center;
	margin-top: 30px;
}
#heading{
	font-family: 'Anton', sans-serif;
}
footer{
	background-color: #faf7ce;
}
.navbar{
	position: sticky;
	top: 0px;
	z-index: 3;

}